{% block sw_import_export_view_export %}
    <div class="sw-import-export-view-export">
        <sw-card-view>
{#            <div v-if="errorMessage" class="error--message-container">#}
{#                <span class="error--message">{{ errorMessage }}</span>#}
{#            </div>#}

            import content
        </sw-card-view>
    </div>
{% endblock %}
