{% block sw_cms_block_basic_call_to_action %}
    <div class="sw-cms-block-basic-call-to-action">
        <slot name="block">{% block sw_cms_block_basic_call_to_action %}{% endblock %}</slot>
    </div>
{% endblock %}
